{% extends "web/base_list.html" %}
{% load static %}
{% block title %}
Mis alumnos
{% endblock %}
{% block breadcrumb %}
<li>
  <a href="{% url 'web:course_list' %}"><span>Cursos</span></a>
  <i class="fa fa-angle-right"></i>
</li>
<li>
  <a href="{% url 'web:course_read' course.pk %}"><span> {{course.name}} </span></a>
  <i class="fa fa-angle-right"></i>
</li>
<li>
  <a href="{% url 'web:course_students' course.pk %}"><span> Mis Alumnos </span></a>
  <i class="fa fa-angle-right"></i>
</li>
{% endblock %}
{% block page_actions %}
<a href="{% url 'web:course_invite' course.pk %}" class="btn btn-fit-height default" role="button">
  <i class="icon-plus"></i>
  Invitar Alumno
</a>

{% endblock %}
{% block columns %}
<th>
  <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
      <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
      <span></span>
  </label>
</th>
<th>Nombre</th>
<th>Correo</th>
<th>Acciones</th>
{% endblock %}

{% block javascript %}
<script>
moment.locale("es");

var render_checkbox = function(student_id) {
  return `<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
            <input type="checkbox" class="checkboxes" name="selected_user"
                   value="${student_id}" />
            <span></span>
          </label>`;
};
var render_options = function(student_id, sprofile_id, course_id, user_id, course_name){
	var url1 = "{% url 'web:profile' 0 %}".replace('0', sprofile_id);
  var url2 = "{% url 'web:msg_direct' 0 %}".replace('0', user_id);
  var url3 = "{% url 'web:course_ban' 88888888 99999999 %}".replace('88888888', course_id).replace('99999999', student_id);
  return `<div class="btn-group">
            <button class="btn btn-xs orange dropdown-toggle" type="button"
                    data-toggle="dropdown" aria-expanded="false">
              ADMINISTRAR
              <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
            <li>
              <a href="${url1}">
              <i class="icon-user"></i> Ver perfil </a>
            </li>
              <li class="divider" role="separator"></li>
              <li>
                <a href="${url3}">
                <i class="icon-ban"></i> Desmatricular alumno </a>
              </li>
            </ul>
          </div>`
};
var render_name = function(sprofile_id, name){
	var url = "{% url 'web:student_courseprofile' 0 1 %}".replace('0','{{course.pk}}').replace('1',sprofile_id)
	return `<a href="${url}"> ${name} </a>`
}
$(document).ready(function() {
		var course_id = "{{course.pk}}";
    var course_name = "{{course.name}}";
    var user_id = "{{request.user.profile.pk}}";
    var dt_table = $('#table').DataTable({
			processing: true,
			serverSide: true,
			language: {
				zeroRecords: "No hay entradas que mostrar",
				lengthMenu: "Mostrar _MENU_ entradas por página",
				search: "Buscar:"
			},
      order: [[ 0, "asc" ]],
      columnDefs: [
				{
						targets: 0,
						orderable: false,
						render: function (data, type, row){
							checkbox = render_checkbox(row[0]);
							return checkbox;
						}
				},
        {
	          name: 'Nombre Completo',
	          orderable: true,
	          searchable: true,
	          targets: 1,
						render: function(data, type, row){
							return render_name(row[3], row[1])
						}
        },
        {
            name: 'Correo',
            orderable: true,
            searchable: true,
            targets: 2,
						render: function(data, type, row){
							return row[2]
						}
        },
        {
            orderable: false,
            searchable: false,
            targets: 3,
						render: function(data, type, row){
							return render_options(row[0], row[3], course_id, user_id, course_name);
						}
				},
      ],
      searching: true,
      stateSave: true,
			ajax: '{% url "web:course_student_list_json" %}'+'?course_id='+course_id,
      data: {'course_id': course_id}
    });
});
</script>
{% endblock %}
