{% extends "web/base_list.html" %}
{% load static %}
{% block title %}
Mis Cursos
{% endblock %}
{% block breadcrumb %}
    <li>
			<a href="{% url 'web:course_list' %}">Mis Cursos</a>
      <i class="fa fa-angle-right"></i>
    </li>
{% endblock %}
{% block page_actions %}
<a href="{% url 'web:course_create' %}" class="btn btn-fit-height default" role="button">
  <i class="icon-plus"></i>
  Nuevo Curso
</a>

{% endblock %}
{% block columns %}
<th>
  <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
      <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
      <span></span>
  </label>
</th>
<th>Nombre</th>
<th>Descripción</th>
<th>Acciones</th>
{% endblock %}

{% block javascript %}
<script>
moment.locale("es");

var render_checkbox = function(course_id) {
  return `<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
            <input type="checkbox" class="checkboxes" name="selected_user"
                   value="${course_id}" />
            <span></span>
          </label>`;
};
var render_options = function(course_id){
	var url1 = "{% url 'web:course_edit' 0 %}".replace('0', course_id);
  var url2 = "{% url 'web:course_delete' 0 %}".replace('0', course_id);
  return `<div class="btn-group">
            <button class="btn btn-xs orange dropdown-toggle" type="button"
                    data-toggle="dropdown" aria-expanded="false">
              ADMINISTRAR
              <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li>
                <a href="${url1}">
                <i class="icon-note"></i> Editar curso </a>
              </li>
              <li class="divider" role="separator"></li>
              <li>
                <a href="${url2}">
                <i class="icon-ban"></i> Eliminar curso </a>
              </li>
            </ul>
          </div>`
};
var render_name = function(course_id, name){
	var url = "{% url 'web:course_read' 0 %}".replace('0', course_id);
	return `<a href="${url}"> ${name} </a>`
}
$(document).ready(function() {
		var delete_url = "{% url 'web:course_delete' %}"
    var dt_table = $('#table').DataTable({
			processing: true,
			serverSide: true,
			language: {
				zeroRecords: "No hay entradas que mostrar",
				lengthMenu: "Mostrar _MENU_ entradas por página",
				search: "Buscar:"
			},
      order: [[ 0, "asc" ]],
      columnDefs: [
				{
						targets: 0,
						orderable: false,
						render: function (data, type, row){
							checkbox = render_checkbox(row[2]);
							return checkbox;
						}
				},
        {
	          name: 'name',
	          orderable: true,
	          searchable: true,
	          targets: 1,
						render: function(data, type, row){
							return render_name(row[2], row[0]);
						}
        },
        {
            name: 'description',
            orderable: true,
            searchable: true,
            targets: 2,
						render: function(data, type, row){
							return row[1]
						}
        },
        {
            //name: 'delete',
            orderable: false,
            searchable: false,
            targets: 3,
						render: function(data, type, row){
							return render_options(row[2]);
						}
				},
      ],
      searching: true,
      stateSave: true,
			ajax: '{% url "web:course_list_json" %}'
    });

});
</script>
{% endblock %}
