{% extends "web/base_page.html" %}

{% load static %}

{% block title %}
Lista de Experiencias
{% endblock %}

{% block subtitle %}
{% endblock %}

{% block breadcrumb %}
<li>
  <a href="{% url 'web:course_list' %}"><span>Mis Cursos</span></a>
  <i class="fa fa-angle-right"></i>
</li>
<li>
  <a href="{% url 'web:course_read' course_id %}"><span>{{course_name}}</span></a>
  <i class="fa fa-angle-right"></i>
</li>
<li>
  <a href="{% url 'web:course_experience' course_id %}"><span>Lista de Experiencias</span></a>
  <i class="fa fa-angle-right"></i>
</li>
{% endblock %}
{% block page_actions %}
<a href="{% url 'web:video' course_id %}" class="btn btn-default"><i class="fa fa-gamepad"></i> Agregar experiencia</a>
<a id="movement" class="btn btn-info"><i class="fa fa-lock"></i> Activar movimiento</a>
{% endblock %}
{% block content %}
<div class="row">
  <form id="myForm" action="{% url 'web:course_experience' course_id %}" method="post">
    {% csrf_token %}
  <div class="portlet light portlet-fit bordered">
      <div class="portlet-body">
          <div class="table-scrollable table-scrollable-borderless">
              <table id="tablasorteable" class="table table-hover sorted_table">
                  <thead>
                      <tr class="uppercase">
                          <th> </th>
                          <th> Nombre </th>
                          <th> Descripción </th>
                          <th> <center>Video</center> </th>
                          <th> <center>Estado</center> </th>
                          <th> <center>Prueba</center> </th>
                          <th> <center>Acciones</center></th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for exp in experiences  %}
                      <tr>
                        <input type="hidden" name="pos-{{ forloop.counter0 }}" value="{{exp.pk}}">
                        <td> <i class="moveIcon"></i>
                        </td>
                        <td > {{exp.available.experience.name}} </td>
                        <td> {{exp.available.experience.description|truncatechars:50}} </td>
                          <td><center><a href="http://youtube.com/watch?v={{exp.available.video}}" target="_blank"><i class="fa fa-youtube-play fa-2x" style="color:red"></i></a></center></td>
                        <td>
                          <center>
                            {% if exp.visible %}
                            <i class="fa fa-eye" style="color:black"></i>
                            {% else %}
                            <i class="fa fa-eye-slash" style="color:gray"></i>
                            {% endif %}
                          </center>
                       </td>
                       <td>
                         <center>
                          {% if exp.test %}
                          {% if exp.test.visible %}
                            <span class="label label-sm label-success "> Activa </span>
                          {% else %}
                            <span class="label label-sm label-default "> Creada </span>
                          {% endif %}
                          {% else %}
                            <span class="label label-sm label-danger "> Sin crear </span>
                          {% endif %}
                        </center>
                      </td>
                      <td><center>
                        <div class="btn-group">
                          <button class="btn btn-xs orange dropdown-toggle" type="button"
                                  data-toggle="dropdown" aria-expanded="false">
                            ADMINISTRAR
                            <i class="fa fa-angle-down"></i>
                          </button>
                          <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                              <a href="{% url 'web:editexps' request.user.profile.pk exp.available.pk %}">
                              <i class="icon-note"></i> Editar video </a>
                            </li>
                            <li class="divider" role="separator"></li>
                            {% if exp.test %}
                            {% if not exp.test.visible %}
                            <li>
                              <a href="{% url 'web:experience_test_edit' course_id exp.available.experience.pk %}">
                              <i class="icon-note"></i> Editar prueba </a>
                            </li>
                            <li>
                              <a href="{% url 'web:experience_test_delete' course_id exp.available.experience.pk %}">
                              <i class="icon-ban"></i> Eliminar prueba </a>
                            </li>
                            <li class="divider" role="separator"></li>
                            {% endif %}
                            <li>
                              <a href="{% url 'web:experience_test_visibility' course_id exp.available.experience.pk %}">
                              <i class="fa fa-eye"></i> Cambiar visibilidad prueba </a>
                            </li>
                            <li class="divider" role="separator"></li>
                            {% else %}
                            <li>
                              <a href="{% url 'web:experience_test' course_id exp.available.experience.pk %}">
                              <i class="icon-note"></i> Crear prueba </a>
                            </li>
                            <li class="divider" role="separator"></li>
                            {% endif %}
                            <li>
                              <a href="{% url 'web:course_exp_visibility' course_id exp.pk %}">
                              <i class="fa fa-eye"></i> Cambiar visibilidad para el curso</a>
                            </li>
                            <li>
                              <a class="modal-link" data-toggle="modal" name="{{exp.available.experience.name}}" id="{{exp.pk}}"> 
                              <i class="fa fa-calendar"></i> Agregar fecha de visibilidad</a>
                            </li>
                            <li class="divider" role="separator"></li>
                            <li>
                              <a href="{% url 'web:delexpcourse' course_id exp.pk %}">
                              <i class="icon-ban"></i> Eliminar experiencia del curso </a>
                            </li>
                          </ul>
                        </div></center>
                      </td>
                    {% endfor %}
                  </tbody>
              </table>
              <br><br><br><br><br><br><br><br><br><br>
          </div>
      </div>
  </div>
</div>
</form>
</div>
<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="mtitle">Modal Title</h4>
            </div>
            <form id="dateform" action="{% url 'web:date' request.user.profile.pk 9999999 %}" method="POST">
              {% csrf_token %}
            <div class="row modal-body"> 
                <div class="row form-group">
                  <div class="col-md-3"></div>
                  <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" data-date-start-date="+0d">
                      <input name="dateselected" type="text" class="form-control" readonly="">
                      <span class="input-group-btn">
                          <button class="btn default" type="button">
                              <i class="fa fa-calendar"></i>
                          </button>
                      </span>
                  </div>
                </div>
                <input type="hidden" name="dateid" id="dateid" value="">
            </div>
            <div class="row modal-footer">
                <div class="col-md-3"></div>
                <div class="col-md-3"><button type="submit" class="btn green">Asignar fecha</button></div>
                <div class="col-md-3"><button type="button" class="btn dark btn-outline" data-dismiss="modal">Cerrar</button></div>
                <div class="col-md-3"></div>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock %}
{% block plugin_js %}
<script type="text/javascript" src="{% static 'web/global/plugins/jquery-sortable/jquery-sortable.js' %}"></script>
<script src="{% static 'web/pages/scripts/components-date-time-pickers.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/moment.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/clockface/js/clockface.js' %}" type="text/javascript"></script>
<script>
$(document).ready(function(){
  var activar = '<i class="fa fa-lock"></i> Activar movimiento';
  var desactivar = '<i class="fa fa-unlock"></i> Guardar cambios';
  var sorteable = "table table-hover sorted_table";
  var unsorteable = "table table-hover";
  var active_color = "btn btn-info";
  var deactive_color = "btn btn-danger";
  $('.sorted_table').sortable({
  containerSelector: 'table',
  itemPath: '> tbody',
  itemSelector: 'tr',
  placeholder: '<tr><td><td><br></td></td> <td></td> <td> </td></tr>',
  });
  $('.sorted_table').sortable('disable');
  var classname = document.getElementsByClassName("modal-link");
  console.log(classname);
  for (var i = 0; i < classname.length; i++) {
    console.log(classname[i]);
    classname[i].addEventListener('click',function(){
      $('#mtitle')[0].innerHTML = "Fecha visible para: " + this.name;
      $('#dateid')[0].value = this.id;
      $('#dateform')[0].action = $('#dateform')[0].action.replace('9999999',this.id)
      $('#basic').modal('toggle');
    });
  }
  $('#movement').click(function(){
    if ($('#movement')[0].innerHTML == activar){
      for (var i=0; i < $('.moveIcon').length; i++){
        $('.moveIcon')[i].setAttribute('class', 'moveIcon fa fa-arrows-alt');
      }
      $('.sorted_table').sortable('enable');
      $('#movement')[0].innerHTML = desactivar;
      $('#movement')[0].setAttribute('class', deactive_color);
    }
    else if ($('#movement')[0].innerHTML == desactivar){
      for (var i=0; i < $('.moveIcon').length; i++){
        $('.moveIcon')[i].setAttribute('class', 'moveIcon');
      }
      $('.sorted_table').sortable('disable');
      $('#movement')[0].innerHTML = activar;
      $('#movement')[0].setAttribute('class', active_color);
      $('#myForm').submit();
    }
  });
})
</script>
{% endblock %}
{% block plugin_css %}
<link rel="stylesheet" href="{% static 'web/global/css/jquery-sortable/jquery-sortable.css' %}">
<link href="{% static 'web/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'web/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'web/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'web/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'web/global/plugins/clockface/css/clockface.css' %}" rel="stylesheet" type="text/css">

{% endblock %}