{% extends "web/base_page.html" %}

{% load static %}

{% block title %}
{{course.name}}
{% endblock %}

{% block subtitle %}
{{course.description}}
{% endblock %}

{% block breadcrumb %}
<li>
	<a href="{% url 'web:course_list' %}">Mis Cursos</a>
	<i class="fa fa-angle-right"></i>
</li>
<li>
	<a href="{% url 'web:course_read' course.pk %}">{{course.name}}</a>
	<i class="fa fa-angle-right"></i>
</li>
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-3">
    <div class="mt-element-ribbon bg-red">
      <a href="#">
        <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-warning uppercase">
            <div class="ribbon-sub ribbon-clip"></div> ALUMNOS </div>
      </a>
		<a class="dashboard-stat dashboard-stat-v2 red" href="#">
				<div class="visual">
				</div>
				<div class="details">
						<div class="number">
							<span data-counter="counterup" data-value="{{tot_stu}}">0</span>
						</div>
						<div class="desc"> Alumnos </div>
				</div>
		</a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="mt-element-ribbon bg-green">
      <a href="#">
        <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-warning uppercase">
            <div class="ribbon-sub ribbon-clip"></div> EXPERIENCIAS </div>
      </a>
		<a class="dashboard-stat dashboard-stat-v2 green" href="#">
				<div class="visual">
				</div>
				<div class="details">
						<div class="number">
							<span data-counter="counterup" data-value="{{tot_exp}}">0</span>
						</div>
						<div class="desc"> Experiencias </div>
				</div>
		</a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="mt-element-ribbon bg-blue">
      <a href="#">
        <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-warning uppercase">
            <div class="ribbon-sub ribbon-clip"></div> EVALUACIONES </div>
      </a>
		<a class="dashboard-stat dashboard-stat-v2 blue" href="#">
				<div class="visual">
				</div>
				<div class="details">
						<div class="number">
							<span data-counter="counterup" data-value="{{tot_eval}}">0</span>
						</div>
						<div class="desc"> Evaluaiones </div>
				</div>
		</a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="mt-element-ribbon bg-yellow">
      <a href="#">
        <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-warning uppercase">
            <div class="ribbon-sub ribbon-clip"></div> PROMEDIO </div>
      </a>
		<a class="dashboard-stat dashboard-stat-v2 yellow" href="#">
				<div class="visual">
				</div>
				<div class="details">
						<div class="number">
								<span data-counter="counterup" data-value="58">0</span>
						</div>
						<div class="desc"> Promedio </div>
				</div>
		</a>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-lg-12 col-xs-12 col-sm-12">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-cursor font-dark hide"></i>
                <span class="caption-subject font-dark bold uppercase">Datos generales</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
              <div class="col-md-6">
                <div class="portlet light">
                    <div class="card-icon">
                        <a href="{% url 'web:course_students' course.pk %}"> <i class="icon-users font-green-sunglo theme-font"></i></a>
                    </div>
                    <div class="card-title">
                      <ul class="nav nav-pills nav-stacked">
                          <li class="active">
                              <a href="{% url 'web:course_students' course.pk %}"> MIS ALUMNOS </a>
                          </li>
                      </ul>
                    </div>
                </div>
              </div>
                <div class="margin-bottom-10 visible-sm"> </div>
                <div class="col-md-6">
                  <div class="portlet light">
                      <div class="card-icon">
                          <a href="{% url 'web:course_experience' course.pk %}"> <i class="icon-book-open font-gray-sunglo theme-font"></i></a>
                      </div>
                      <div class="card-title">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active">
                                <a href="{% url 'web:course_experience' course.pk %}"> MIS EXPERIENCIAS </a>
                            </li>
                        </ul>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block plugin_js %}
<script src="{% static 'web/global/plugins/moment.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/morris/morris.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/morris/raphael-min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/counterup/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/counterup/jquery.counterup.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/amcharts/amcharts/amcharts.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/amcharts/amcharts/serial.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/amcharts/amcharts/pie.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/amcharts/amcharts/radar.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/amcharts/amcharts/themes/light.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/amcharts/amcharts/themes/patterns.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/amcharts/amcharts/themes/chalk.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/amcharts/ammap/ammap.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/amcharts/ammap/maps/js/worldLow.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/amcharts/amstockcharts/amstock.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/fullcalendar/fullcalendar.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/horizontal-timeline/horizontal-timeline.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/flot/jquery.flot.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/flot/jquery.flot.resize.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/flot/jquery.flot.categories.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/jquery.sparkline.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/jqvmap/jqvmap/jquery.vmap.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js' %}" type="text/javascript"></script>
<script src="{% static 'web/pages/scripts/dashboard.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/jquery-bootpag/jquery.bootpag.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/holder.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/jquery.pulsate.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/pages/scripts/ui-general.min.js' %}" type="text/javascript"></script>
{% endblock %}

{% block plugin_css %}
<link href="{% static 'web/pages/css/about.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'web/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'web/global/plugins/morris/morris.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'web/global/plugins/fullcalendar/fullcalendar.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'web/global/plugins/jqvmap/jqvmap/jqvmap.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
