{% extends "web/base_page.html" %}
{% load static %}
{% block title %}
Agregar experiencia
{% endblock %}
{% block breadcrumb %}
<li>
  <a href="{% url 'web:course_list' %}"><span>Cursos</span></a>
  <i class="fa fa-angle-right"></i>
</li>
<li>
  <a href="{% url 'web:course_read' course_id %}"><span>{{course.name}}</span></a>
  <i class="fa fa-angle-right"></i>
</li>
<li>
  <a href="{% url 'web:course_experience' course_id %}"><span>Experiencias</span></a>
  <i class="fa fa-angle-right"></i>
</li>
<li>
  <span>Habilitar experiencias en curso</span>
</li>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12 ">
    <!-- BEGIN SAMPLE FORM PORTLET-->
    <div class="portlet light bordered">
      <div class="portlet-body form">
        <form class="form-horizontal" action="" role="form" method="POST">
        {% csrf_token %}
        <div class="form-body">
          <div>
            <h3>Mueva las experiencias para agregarlas o quitarlas</h3>
            <br>
          </div>
          <div class="form-group">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-6">Experiencias Disponibles</div>
                    <div class="col-md-4">Experiencias en Curso</div>
                </div>
                <br><br>
                <div class="row">
                        <div class="col-md-12">
                                <select multiple="multiple" class="multi-select" id="my_multi_select1" name="my_multi_select1[]">
                                    {% for available in experiences %}
                                        <option value="{{available.pk}}" {% if available in filtered %}selected{% endif %} >{{available.experience.name}}</option>
                                    {% endfor %}
                              </select>
                          </div>
                </div>
              
          </div>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" class="btn green">
                <i class="icon-note"></i>
                Guardar cambios
              </button>
              <a href="{% url 'web:course_experience' course.pk %}" class="btn default">Cancelar</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- END SAMPLE FORM PORTLET-->
</div>
</div>
{% endblock %}

{% block plugin_js %}
<script src="{% static 'web/global/plugins/bootstrap-select/js/bootstrap-select.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/jquery-multi-select/js/jquery.multi-select.js' %}" type="text/javascript"></script>
<script src="{% static 'web/global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
<script src="{% static 'web/pages/scripts/components-multi-select.min.js' %}" type="text/javascript"></script>
{% endblock %}

{% block plugin_css %}
<link href="{% static 'web/global/plugins/bootstrap-select/css/bootstrap-select.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'web/global/plugins/jquery-multi-select/css/multi-select.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'web/global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'web/global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}