{% extends "web/base_page.html" %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="row margin-bottom-20">
    <div class="col-lg-3 col-md-6">
        <div class="portlet light">
            <div class="card-icon">
                <a href="{% url 'web:profile' request.user.profile.pk %}"> <i class="icon-user theme-font" style="color:rgb(52, 6, 58)"></i></a>
            </div>
            <div class="card-title">
                <span> Mi Perfil </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="portlet light">
            <div class="card-icon">
                <a href="{% url 'web:course_list' %}"> <i class="icon-graduation theme-font" style="color:rgb(29, 67, 102)"></i></a>
            </div>
            <div class="card-title">
                <span> Mis Cursos </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="portlet light">
          <div class="card-icon">
            <a href="{% url 'web:myexps' request.user.profile.pk %}"> <i class="icon-rocket theme-font" style="color:rgb(11, 97, 18)"></i></a>
          </div>
          <div class="card-title">
              <span> Mis Experiencias </span>
          </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="portlet light">
            <div class="card-icon">
                <a href="{% url 'web:support' %}"> <i class="icon-question theme-font" style="color:rgb(143, 120, 18)"></i></a>
            </div>
            <div class="card-title">
                <span> Soporte </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block plugin_js %}
  <script src="{% static 'web/layouts/global/scripts/quick-nav.min.js' %}" type="text/javascript"></script>
{% endblock %}
{% block plugin_css %}
<link href="{% static 'web/pages/css/about.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
