{% extends "web/base_page.html" %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="note note-info">
  <h4 class="block">Contenidos en desarrollo</h4>
  <p>Hola {{ request.user.profile.full_name }}, <br>
    Duis mollis, est non commodo luctus, nisi erat porttitor ligula, mattis consectetur purus sit amet eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, mattis consectetur purus sit amet eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
    Duis mollis, est non commodo luctus, nisi erat porttitor ligula, mattis consectetur purus sit amet eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
    Duis mollis, est non commodo luctus, nisi erat porttitor ligula, mattis consectetur purus sit amet eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
  </p>
  <br>
</div>
<div class="row margin-bottom-20">
    <div class="col-lg-3 col-md-6">
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="portlet light">
            <div class="card-icon">
                <a href=""> <i class="icon-magnifier font-green-haze theme-font"></i></a>
            </div>
            <div class="card-title">
                <span> Investigación </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="portlet light">
          <div class="card-icon">
            <a href=""> <i class="icon-user-follow font-red-sunglo theme-font"></i></a>
          </div>
          <div class="card-title">
              <span> Usuarios </span>
          </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">

    </div>
</div>
{% endblock %}
{% block plugin_js %}
  <script src="{% static 'web/layouts/global/scripts/quick-nav.min.js' %}" type="text/javascript"></script>
{% endblock %}
{% block plugin_css %}
<link href="{% static 'web/pages/css/about.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
