{% extends "web/base_page.html" %}

{% load static %}

{% block title %}
Mis Experiencias
{% endblock %}

{% block subtitle %}
{% endblock %}

{% block breadcrumb %}
<li>
	<a href="{% url 'web:myexps' client_id %}"><span>Mis Experiencias</span></a>
  <i class="fa fa-angle-right"></i>
</li>
{% endblock %}

{% block content %}
<div class="row">
{% if fail %}
<div class="alert alert-danger">
    <strong>Error</strong> No se pudo eliminar correctamente la experiencia. </div>
{% endif %}
<div class="col-md-12">
    <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-5"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"><a href="{% url 'web:addexps' client_id %}" class="btn btn-default"><i class="fa fa-gamepad"></i> Agregar experiencia</a></div>
    </div>

    <br><br>
    <div class="portlet light portlet-fit bordered">
        <div class="portlet-body">
            <div class="table-scrollable table-scrollable-borderless">
                <table id="tablasorteable" class="table table-hover sorted_table">
                    <thead>
                        <tr class="uppercase">
                            <th> Nombre </th>
                            <th> Descripción </th>
                            <th> Video </th>
                            <th> Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for exp in experiencias  %}
                        <tr>
                            <td > {{exp.experience.name}} </td>
                            <td> {{exp.experience.description|truncatechars:50}} </td>
                            <td> <span class="label label-sm label-success "> Asignado </span> </td>
                        <td>
                            <div class="btn-group">
                            <button class="btn btn-xs orange dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-expanded="false">
                                ADMINISTRAR
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="{% url 'web:editexps' client_id exp.pk %}">
                                    <i class="icon-note"></i> Editar video </a>
                                </li>
                                <li class="divider" role="separator"></li>
                                <li>    
                                    <a href="{% url 'web:delexps' client_id exp.pk %}">
                                    <i class="icon-ban"></i> Eliminar video </a>
                                </li>
                            </ul>
                            </div>
                        </td>
                        {% endfor %}
                    </tbody>
                </table>
                <br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
</div>

</form>

</div>
{% endblock %}

{% block plugin_js %}
{% endblock %}

{% block plugin_css %}
{% endblock %}
