<ion-header>
    <ion-navbar no-border-bottom color="secondary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Caída Libre</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding class="experiencia-content">
    <ion-list> 
        <button ion-button color="primary" (click)="openMateriaPage()" block>Materia</button>
        <button ion-button color="primary" (click)="openExpPage()" block>Iniciar Experiencia</button>
        <div *ngIf="prueba!='Null' && answer!='Null'">
            <button ion-button color="primary" (click)="openPopupPrueba()" block> Prueba {{prueba}}</button>
        </div>
        <div *ngIf="prueba!='Null' && answer=='Null'">
            <button ion-button color="primary" (click)="openPruebaPage()" block> Prueba {{prueba}} </button>
        </div>
        <div *ngIf="prueba=='Null'">
            <button ion-button color="light" block>Prueba</button>
        </div>
    </ion-list>
</ion-content>