<ion-header>
  <ion-navbar color="primary">
    <ion-title>Mis Mensajes</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="mensajes-content">
  <div padding style='height: 80%' *ngIf="mensajes?.length > 0">
    <ion-list *ngFor="let mensaje of mensajes.mensajes">
      <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src="https://www.gravatar.com/avatar?d=mm&s=140">
          </ion-avatar>
          <h2>{{mensaje[0].topic}}</h2>
          <p>{{mensaje[0].name}}</p>
        </ion-item>
        <!-- <img src="img/advance-card-bttf.png"> -->
        <ion-card-content>
          <p>{{mensaje[0].content}}</p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
  <div padding style='height: 80%' *ngIf= "mensajes?.length == 0">
    <h3 ion-text color="light" style="text-align: center;">
      Usted no tiene mensajes.
    </h3>
  </div>
</ion-content>
