<ion-header>
    <ion-navbar no-border-bottom>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Lanzamiento de Proyectil</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
        <ion-list>
            <button ion-button color="primary" (click)="openMateriaPage()" block>Materia</button>
            <button ion-button color="primary" (click)="openExpPage()" block>Iniciar Experiencia</button>
            <div *ngIf="prueba==1">
                <button ion-button color="primary" (click)="openExpPage()" block>Prueba</button>
            </div>
            <div *ngIf="prueba==0">
                <button ion-button color="light" (click)="openExpPage()" block>Prueba</button>
            </div>
        </ion-list>
    </ion-content>