<ion-header>
    <ion-navbar no-border-bottom color="primary">
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Experiencias</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <h3>Selecciona una experiencia:</h3>
    <div padding *ngIf="experiencias?.length > 0">
        <ion-list *ngFor="let exp of experiencias; let i = index">

            <button ion-button color="primary" (click)="openExperienciaPage(exp.t)" block>{{exp.n}}</button>
        </ion-list>  
    </div>

    


</ion-content>