<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis Cursos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Selecciona un Curso:</h3>

  <div padding *ngIf="cursos?.length > 0">
    <ion-list *ngFor="let curso of cursos; let i = index">
      <button ion-button color="primary" (click)="openListaPage(curso.stu_id)" block>{{curso.cur_no}}<br>{{curso.pro_no}}</button>
    </ion-list>  
  </div>




  



</ion-content>