page-notas {
    .notas-content {
        background: color($colors, dark);
        color: color($colors, light);
    }
    
    .col{
        border:2px solid color($colors, dark);
        background: color($colors, primary);
        border-radius: 10px;
        color: white;
    }
    
    .grafico {
        height: 50%;
        background: color($colors, dark);
    }
    
    .del-button {
        height: 100%;
        color: color($colors, light);
    }
}

