<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis Notas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding-top text-center *ngIf="notas.length == 0">
    <h5>No tienes notas ingresadas</h5>
  </div>
  <div padding-top text-center *ngIf="notas.length > 0">
    <ion-list>
      <ion-item *ngFor="let nota of notas">{{nota}}</ion-item>
    </ion-list>
  </div>
  <p>
    <button ion-button color="primary" (click)="addNota()" block>Añadir Nota</button>
</p>
</ion-content>
